*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(219, 210, 210);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent:40px;
    line-height: 40px;
    background: url(../img/menu.png) no-repeat left bottom;
 
}

h1{
    padding: 5px;
    margin: 5px;
}

a:hover, .selecionado a{
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}

#home #navegacao-lateral .home a, 
#sobre #navegacao-lateral .sobre a,
#servicos #navegacao-lateral .servicos a,
#noticias #navegacao-lateral .noticias a,
#contato #navegacao-lateral .contato a{
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}
#cabecalho{


}


/*li {
    padding:5px 20px;
    text-decoration: none;
    background: url(../img/seta.png) no-repeat left center;
}
a{
    text-decoration: none;
}*/