body{
    background: #fff;;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    background: #fff;
    width: 920px;
    padding: 10px;
    margin: 10px 8px;
}
.principal{
    background: #fff;
    width: 920px;
    padding: 10px;
    margin: 7px;
    
}
.noticia{
    background: #e5e5e5;
    width: 285px;
    margin: 7px;
    float: left;

}
.img-galeria{
    background: rgb(238, 233, 218);
    width: 265px;
    padding: 5px;
    margin: 15px;
    float: left;
}
.clear{
    clear: both;
    

}

h1{
    color: rgb(68, 64, 64);
}
p{
    margin-left: 10px;
}