body{
    background: rgb(137, 193, 201);
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    background: #fff;
    width: 920px;
    padding: 10px;
}
.principal{
    background: #fff;
    width: 920px;
    padding: 10px;
    border: 2px solid grey;
}
.noticia{
    background: #e5e5e5;
    width: 280px;
    margin: 10px;

}

h1{
    color: rgb(68, 64, 64);
}
p{
    margin-left: 10px;
}