body{
    background: rgb(230, 212, 212);
    width: 920px;
}

a{
background:rgb(64, 65, 62) ;
padding: 5px 20px;
text-decoration: none;
}

/*Links não visitados*/
a:link{
   color: #0c0335; 
}

/*Links visitados*/
a:visited{
  color: #4e0505;  
}

/*Links hover - passar o cursor sobre o link*/
a:hover{
    background: #010d25;
    color: rgb(22, 175, 162);
}

/*Links Ativos, quando clicados*/
a:active{
    color: rgb(48, 43, 43);
}